<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LoginSignpage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registration</display-name>
    <servlet-name>registration</servlet-name>
    <servlet-class>com.aklesh.registration.registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginSevlet</display-name>
    <servlet-name>loginSevlet</servlet-name>
    <servlet-class>com.login.loginSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginSevlet</servlet-name>
    <url-pattern>/loginSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.aklesh.registration.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resgitration</display-name>
    <servlet-name>resgitration</servlet-name>
    <servlet-class>com.aklesh.registration.resgitration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resgitration</servlet-name>
    <url-pattern>/resgitration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registation</display-name>
    <servlet-name>registation</servlet-name>
    <servlet-class>com.aklesh.registration.registation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registation</servlet-name>
    <url-pattern>/registation</url-pattern>
  </servlet-mapping>
</web-app>